<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
</head>
<body>
    <h1>Sensor Data</h1>
    {% if sensor_data.error %}
        <p>{{ sensor_data.error }}</p>
    {% else %}
        <p>Temperature Exerieure: {{ sensor_data.sensor1temp }}</p>
        <p>Temperature Salle Musculation: {{ sensor_data.sensor2temp }}</p>
        <p>Eau: {{ sensor_data.count1 }}</p>
        <p>Gaz: {{ sensor_data.count2 }}</p>
    {% endif %}
</body>
</html>
